

.paymentconfirmcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.paymentconfirmcontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    height: 30vh;
    width:30vw;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.paymentconfirmcontent h1 {
    color: #2ecc71;
    margin-bottom: 10px;
}

.paymentconfirmcontent a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
}

.paymentconfirmcontent a:hover {
    text-decoration: underline;
}