

.custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure the pop-up is on top */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    color: #333;
    animation: slide-down 0.3s ease-in-out forwards;
}

.popup-message {
    font-size: 20px;
    margin-bottom: 15px;
}

.close-button {
    background-color: #4ec02b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.close-button:hover {
    background-color: #4ec02b;
}

.close-button:focus {
    outline: none;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
